/*
Multiline overflow omitted（多行溢出省略）
 */
@mixin more-line-ellipsis($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

/*
Single-line overflow omitted（单行溢出省略）
 */
@mixin one-line-ellipsis($maxWidth: 100%) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: $maxWidth;
}
